*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "poppins";
    
   
    /* background-color: #fff; */
}

/* ----------------------- global styling-------------------------------------- */


/* ---------------------end of global styling ---------------------------------- */

/* ------------------ navigation bar styling------------------------------------ */

#navigation{
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    height: 20vh;
   
    z-index:999;
    
}


.hamburger-menu{
    width:3rem;
    height:3rem;
    position: fixed;
    top: 5rem;
    right:5rem;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    display: none;
    transition: right .7s;
}

.change .hamburger-menu{
    right: 33rem;
}

.line{
    width: 100%;
    height: .2rem;
    background-color: #888;
    box-shadow: 0 .1rem .2rem rgba(0,0,0,0.2);
}

.change .line{
    background-color: rgba(0,0,0,0.8);
}
.change .line1{
    transform: rotate(45deg)  translate(0.3rem, 0.8rem);
   
}

.change .line2{
    opacity: 0;
    visibility:hidden;
}

.change .line3{
    transform: rotate(-45deg) translate(0.3rem, -0.8rem);
    
}

.hamburger-menu span{
    position:absolute;
    left:5rem;
    width: 6rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #ff8000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: "Baloo Da 2", serif;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    opacity: 0;
    visibility: hidden;
    transition: all .2s;

}

.change .hamburger-menu:hover span{
    opacity: 1;
    visibility: visible;
}



 .hamburger-menu span::before{
    content: "";
    position: absolute;
    border-left:1rem solid transparent;
    border-right:1rem solid #ff8000;
    border-bottom: 1rem solid transparent;
    border-top: 1rem solid transparent;
    top: 50%;
    left: -2rem;
    transform: translateY(-50%);
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
   
}

.logo img{
    height: 100px;
    width: 70px;
    border-radius: 50%;
}

.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    
}

.links li a{
    position: relative;
    color:#333;
    transition: all ease-in .2s;
}

.links li a:hover{
    color: #ff8000;
}

.links a.first::before{
    content:"";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #ff8000;
    height: 2px;
    width: 70px;
}

.list-item{
    margin-left: 5rem;
}

.btn{
    background-color: #ff8000;
    color: white;
    border:none;
    display:inline-block;
    padding:0.5em 1.2em;
    border-radius:2em;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size: 1.2em;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
}

.btn:hover{
    background-color: orange;
}
/* ------------------end of navigation bar styling------------------------------------ */

/* -------------------view section styling ------------------------------------------- */
#view{
    padding-top:20vh;
    height: 100vh;
    max-width: 100vw;

    
    border-top: cornflowerblue 4px solid;
    
    /* position: relative; */
    /* background-color: rosybrown; */

}
.view{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    padding-top: 50px;
    overflow: hidden;
    
   
}
.viewab{
    position: absolute;
    /* bottom: 2%; */
    bottom: -15%;
    right: 50px;
    /* z-index: -1; */
   
}

.plate{
    width: 40vw;
}


.plate img{
    width: 100%;
    /* flex-basis: 35% ; */
    /* width: 400px;
    height: 400px; */
 
    
}

.message{
    align-self: flex-start;
    line-height: 1.5;
    width: 60vw;
}

.message p{
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.message p:last-child{
    font-size: 0.9rem;
}
.message p a{
    color: #ff8000;
}

.message span{
    font-size: 0.9rem;
}




/* --------------------end of view section styling------------------------------------ */


/* ****************** styling foodflight sections************************************** */

#food-flights{
    position: relative; 
    top:20vh; 
    padding: 50px 0 150px 0;
    height:auto;
    background-color: #FFF9F3;
    line-height: 1.3;
    
}
.food-flights{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#food-flights span{
    font-size: 4rem;
    transform: rotate(-90deg);  
    position: absolute;
    
    color: whitesmoke;
    text-shadow: 2px 2px #888;
}

.flight-header{
    margin-bottom: 3rem ;

}

.flight-text img{
    padding-bottom: 3rem;
}



.flights-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
   
}


.flight-text{
    display: flex;
    flex-basis:33%;
    width: 100%;
    padding:  0 1.2rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* *******************8 end of food flight sections************************************8 */

/* ******************* how it works section********************************************* */

/******************************** end of how it works********************************* */

/* ***************************** works styling section***************************** */

#works{
    height: 100vh;
    position: relative;
    top:20vh;
    /* margin-top:0; */
}
.works{
    height: 80vh;
    display:flex;
    flex-direction: column;
    align-items: space-between;
}

.works-header{
    text-align: center;
    height: 18vh;
    padding-top: 4rem;
}

.works-header span{
    font-weight: normal;
    font-size: 0.9rem;
   
}

.works-body{
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.works-image img{
    width:80%;

}

.works-image{
    width: 46%;
}

.works-line{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width:6%;
    height: 80%;
}

.one, .three, .five{
    background-color: #FFF6EC;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#ff8000;
    font-weight: bold;
}

.two{
   
    background: #ff8000;
    height:100px;
    width:1px;
    text-align: center;
    margin: center;
    
}

.four{
    background: #ff8000;
    height:100px;
    width:1px;
    text-align: center;
    margin: center;
   
}



.works .works-details{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
    align-items: center;
    justify-content: space-around;
    width: 48%;
    /* background-color: #e91e63; */
    
    height: 100%;
}

.det{
    text-align: center;
}

.det i{
    font-size: 3rem;
    color: #ff8000;
    
    
}

.det i.fa-motorcycle{
    font-size: 3rem;
    color: #ff8000;
    animation: move 2s infinite;
    
}

@keyframes move {
    from {
      transform: translateX(0%);
    }
  
    to {
      transform: translateX(100%);
    }
  }


/* ******************************* end of works styling********************************** */
/* ******************************** demo styling ***************************************8 */



#demo{
    height: 120vh;
    position: relative;
    top:43vh;
    z-index: 20;
    background-color: #fff;
    margin: auto;
    padding-bottom: 50px;
    /* margin-top:0; */
}
.demo{
    height: 120vh;
    display:flex;
    flex-direction: column;
    align-items: space-around;
    position: relative;
    
    
}

.demo-header{
    text-align: center;
    height: auto;
    padding: 2.5rem;
    
}

.demo-body{
    position: relative;
    /* top:20vh; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.demo .demo-details{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    width: 46%;
    height: 98.3vh;
}

.dem{
    text-align: center;
    width: 80%;
}

.dem i{
    font-size: 3rem;
    color: #ff8000;  
}


.demo-line{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width:6%;
    height: 100vh;
    margin: auto;
    
    /* margin-right: 50px; */
}

.demo-line .one, .three, .five{
    background-color: #FFF6EC;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#ff8000;
    font-weight: bold;
}

.demo-line .two{
   
    background: #ff8000;
    height:100px;
    width:1px;
    text-align: center;
    margin: center;
    
}

.demo-line .four{
    background: #ff8000;
    height:100px;
    width:1px;
    text-align: center;
    margin: center;
   
}

.demo-image{
    /* padding-left: 50px; */
    width: 48%;
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.demo-image img{
    width:75%;
    border-radius: 50%;
    height: 80%;
    margin: auto;

}
/* ********************************end of demo styling ******************************* */

/* ***************************convinced styling section****************************** */
#convinced{
    position: relative;
    box-sizing: border-box;
    top: 52vh;
    height: 50vh;
    background-color: #ff8000;
    color: #fff;
    z-index: -8;
    max-width: 100%;
    
}

.con{
    height: 40px;
    width: 40px;
    position: absolute;
    background: #FFD391;
    border-radius: 50%;
    right: 30%;
    bottom: 70%;

}

.con1{
    height: 50px;
    width: 50px;
    position: absolute;
    background: #FFD391;
    border-radius: 50%;
    right: 0;
    bottom: 0;
}

.con2{
    height: 150px;
    width: 150px;
    position: absolute;
    background: #FFD391;
    border-radius: 50%;
    left: -4%;
    top: -4%;
    z-index: -50;
}

.convinced{
    position: relative;
    width: 80%;
    margin: auto;
    display: flex;
    height: 40vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sell{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 50px;
    width: 40%;
    align-items: center;
    justify-content: space-around;
}

.butt{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    display:inline-block;
    padding:0.5em 1.2em;
    border-radius:2em;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size: 1.2em;
    text-align:center;
    transition: all 0.2s; 
}

/* ******************* end of convinced styling section ****************************** */

/* #myVideo{
    position:fixed;
    /* z-index:-1; */
} */

/* @media(min-aspect-ratio: 16/9){
    
    #myVideo{
    width:100%;
    height:auto;
}
}
@media(max-aspect-ratio: 16/9){
    
    #myVideo{
    width:auto;
    height:100%;
}
} */
/* contact styling section */
#contact{
	
	height: 100vh;
    
	/* padding: 50px 50px; */
    
    

}
.contact{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 52vh;
    
}

.contact .vec{
    width: 50%;
}

.contact .vec img{
    width: 100%;
}
.contain{
	width: 50%;
	margin-top: 30px;
    /* background-color: snow; */
}


.contactform{
	width: 100%;
	padding: 40px;
	/* background: #fff; */
}

.contactform .inputbox{
	position: relative;
	width: 100%;
	margin-top: 10px;
}

.contactform .inputbox input, .contactform .inputbox textarea{
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;
}

.contactform .inputbox span{
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
}

.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span{
	color: #ff8000;
	font-size: 12px;
	transform: translateY(-20px);
}



/* end of contact */



/* ********************** styling footer section ************************************** */

#footer{
    /* background-image:url("../images/restaurant.jpg"); */
    background-image: url("../images/restaurant1.jpg");
    
    background-size: cover;
    object-fit: cover;
    position: relative;
    top: 51vh;
    background-attachment: fixed;
    color:white;
    height:auto;
   

}

#footer::before{
    background-color: black;
    opacity: .5;
    top:0;
}
.footer{
    width: 85%;
    margin: auto;
    height: 50%;
    padding: 70px 0;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

.row{
    display:flex;
    flex-wrap: wrap;

}

.footer-col{
    width:25%;
    padding:0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;

}

.footer-col h4::before{
    content:"";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #ff8000;
    height: 2px;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color:orange;
    padding-left: 8px;
}

.footer-col .social-icons a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255, 0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:#fff;
    transition: all 0.5s ease;
}

.footer-col .social-icons a:hover{
    color: #ff8000;
    background-color: #fff;
}

.footer-col:last-child{
    border-left: 1px solid #fff;
}

.down{
    padding-left:15px;
    padding-top: 150px;
     
}
/* *********************** end of styling footer section */

/* scroll btn styling */
.scroll-btn {
    position: fixed;
    right: 4.5%;
    bottom: 5%;
    width: 3.5rem;
    height: 3.5rem;
    background-color: #ff8000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #fff;
    box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.2);
    border-radius: 50%;
  }




/* responsive style design */
@media(max-width:1200px){
    .links{
        display: none;
       
    }

    .hamburger-menu{
        display: block;
        visibility: visible;
        z-index: 10000;
        
    }
}
@media(max-width: 767px){
    .footer-col{
        width:50%;
        margin-bottom:30px;
    }

    

    /* #myVideo{
        display:none;
    } */
}

@media(max-width: 574px){
    .footer-col{
        width:100%;
        
       
    }
}